.btt-pattern
{
    background:url('../fichier/pattern/pt.png') repeat;
}

.btt-pattern-sm-dots
{
    background:url('../fichier/pattern/pt1.png') repeat;
}

.btt-pattern-bee
{
    background:url('../fichier/pattern/pt2.png') repeat;
}

.btt-pattern-topBox
{
    background:url('../fichier/pattern/pt3.png') repeat;
}

.btt-pattern-dots
{
    background:url('../fichier/pattern/pt4.png') repeat;
}

.btt-pattern-arcane
{
    background:url('../fichier/pattern/pt5.png') repeat;
}

.btt-pattern-abstract
{
    background:url('../fichier/pattern/pt6.png') repeat;
}

.btt-pattern-gribou
{
    background:url('../fichier/pattern/pt7.png') repeat;
}

.btt-pattern-round
{
    background:url('../fichier/pattern/pt8.png') repeat;
}

.btt-pattern-paper-grid
{
    background:url('../fichier/pattern/pt9.png') repeat;
}

.btt-pattern-snakeLine
{
    background:url('../pattern/pt10.png') repeat;
}